
$body-bg: #e5f5e7;

$border-radius: 3rem;
// $bs-card-color: #16d12f;
li.my-3{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;

} 





@import "../node_modules/bootstrap/scss/bootstrap.scss";